* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1C2951;
    color: white;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}
.nav-bar-design {
    height: auto;
    padding-bottom: 1rem;
    background-color: rgba( 0, 0, 0, 0.4);
}
.nav-bar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.line {
    width: 80%;
    max-width: 350px;
    height: 2rem;
    margin: auto;
    margin: .5rem auto .5rem auto;
    border-radius: 5px;
    background-color: #0080FE;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    text-decoration: none;
    color: white;
}
.line h2 {
    padding-top: .15rem;
}
.logo-position {
    height: 6rem;
    width: 90%;
    margin: 1rem auto 1rem auto;
    background-color: #1134A6;
    box-shadow: 1px 1px 5px black;
    text-align: center;
}
.logo-position h1 {
    color: gold;
    font-size: 2rem;
}.logo-position h1 span {
    color: goldenrod;
    font-size: 1.6rem;
}
.search-input {
    line-height: 1.2rem;
    font-size: 1rem;
}
.search-button {
    background-color: #96DED1;
    padding: .15rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.search-button {
    margin-left: .25rem;
}
.search-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.4);
    padding-bottom: 1rem;
}
.search-bar {
    width: 100%; /* Full width */
    max-width: 600px; /* Max width for larger screens */
    margin: 0 auto; /* Centering */
}
.search-results {
    position: absolute;
    z-index: 1000; /* Ensures the results appear above other content */
    width: 100%; /* Or set a specific width */
    max-width: 300px; /* Match the search bar width for alignment */
    top: 100%; /* Position it directly below the search bar */
    margin: auto;
    background: lightblue; /* Or any color that fits your design */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: Adds a shadow for better visibility over other content */
    overflow-y: auto; /* Allows scrolling within the container if there are many results */
    max-height: 300px; /* Adjust based on your needs */
    color: black;
}
.search-results div {
    color: black;
    padding: .5rem;
}
.search-results a {
    text-decoration: none;
}
.search-results div:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.page-overlay {
    display: none;
    position: absolute;
    top: -20rem;
    left: 0;
    width: 100vw;
    height: 200vh;
    z-index: 999;
}
.art-hero-img img {
    min-width: 300px;
    max-width: 720px;
    height: auto;
    margin: 3rem 1rem 3rem 1rem;
}
.art-hero-text,
.art-body-text {
    flex-wrap: wrap;
}
.art-hero-text h2 {
    font-size: 5rem;
    color: gold;
    margin: 2rem 1rem 2rem 1rem;
}
.art-body-text h3 {
    font-size: 3.5rem;
    color: gold;
    margin: 2rem 1rem 2rem 1rem;
}
.art-hero-text p,
.art-body-text p {
    font-size: 1.5rem;
    color: white;
    margin: 2rem 1rem 2rem 1rem;
}
.art-imgs {
    flex-wrap: wrap;
}
.art-imgs img {
    min-width: 300px;
    max-width: 550px;
    height: auto;
    margin: 2rem 1rem 2rem 1rem;
}
footer {
    margin-top: 2rem;
    background-color: rgba( 0, 0, 0, 0.4);
}
.footer-position {
    flex-wrap: wrap;
}
.footer-section {
    height: 15rem;
    min-width: 300px;
    max-width: 450px;
    margin: 1rem .5rem 1rem .5rem;
    border: 1px solid white;
}