* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1C2951;
    color: white;
    overflow-x: hidden;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    max-width: 1200px;
}
.titleFont {
    font-size: 1.5rem;
}
.paragraphFont {
    font-size: 1.1rem;
}
.nav-bar-design {
    width: 100vw;
    height: auto;
    padding-bottom: 1rem;
    background-color: rgba( 0, 0, 0, 0.4);
}
.nav-bar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.line {
    width: 80%;
    max-width: 350px;
    height: 2rem;
    margin: auto;
    margin: .5rem auto .5rem auto;
    border-radius: 5px;
    background-color: #0080FE;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    text-decoration: none;
    color: white;
}
.line h2 {
    padding-top: .15rem;
}
.logo-position {
    height: 6rem;
    width: 90%;
    margin: 1rem auto 1rem auto;
    background-color: #1134A6;
    box-shadow: 1px 1px 5px black;
}
.hero {
    padding: 1rem;
}
.hero-title {
    text-align: center;
    padding-bottom: .5rem;
}
.latest-post img,
.featured-post img {
    margin: .5rem;
}
.latest-post h3,
.featured-post h3 {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin: .5rem;
}
.latest-post p,
.featured-post p {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    margin: .5rem;
    word-wrap: break-word;
}
.latest-post-design,
.featured-post-design {
    width: 100vw;
    height: auto;
}
.latest-post-position,
.featured-post-position {
    margin: auto;
    max-width: 1200px;
    height: auto;
}
.latest-post-title,
.featured-post-title {
    padding: 1rem;
}
.latest-posts,
.featured-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.latest-post,
.featured-post {
    width: 90%;
    max-width: 375px;
    margin: 1rem .25rem 0 .25rem;
    height: auto;
    background-color: #0F52BA;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.latest-post:hover,
.featured-post:hover {
    background-color: #6693F5;
}
.about-author-position,
.subscribe-position {
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.about-author-title,
.about-author-body {
    padding: .25rem 1rem .25rem 1rem;
}
.about-author-body a {
    text-decoration: none;
    color: white;
}
.subscribe-design {
    margin: 1rem;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    background-color: #0080FE;
}
.video-position {
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.video-position h2 {
    width: 100%;
    text-align: center;
    margin: 1rem;
}
footer {
    background-color: rgba( 0, 0, 0, 0.4);
}
.footer-position {
    flex-wrap: wrap;
}
.footer-section {
    height: 15rem;
    min-width: 300px;
    max-width: 450px;
    margin: 1rem .5rem 1rem .5rem;
    border: 1px solid white;
}
.sub-email,
.search-input {
    line-height: 1.2rem;
    font-size: 1rem;
}
.sub-email {
    width: 80%;
}
.sub-btn,
.search-button {
    background-color: #96DED1;
    padding: .15rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.search-button {
    margin-left: .25rem;
}
.aboutAuthor-section {
    margin-top: 1rem;
    flex-wrap: wrap;
}
.aboutAuthor-section h2 {
    width: 100vw;
    text-align: center;
}
.aboutAuthor-section p {
    margin: 1rem;
}
.search-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.4);
    padding-bottom: 1rem;
}
.search-bar {
    width: 100%; /* Full width */
    max-width: 600px; /* Max width for larger screens */
    margin: 0 auto; /* Centering */
}
.search-results {
    position: absolute;
    z-index: 1000; /* Ensures the results appear above other content */
    width: 100%; /* Or set a specific width */
    max-width: 300px; /* Match the search bar width for alignment */
    top: 100%; /* Position it directly below the search bar */
    margin: auto;
    background: lightblue; /* Or any color that fits your design */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: Adds a shadow for better visibility over other content */
    overflow-y: auto; /* Allows scrolling within the container if there are many results */
    max-height: 300px; /* Adjust based on your needs */
    color: black;
}
.search-results div {
    color: black;
    padding: .5rem;
}
.search-results a {
    text-decoration: none;
}
.search-results div:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.page-overlay {
    display: none;
    position: absolute;
    top: -20rem;
    left: 0;
    width: 100vw;
    height: 200vh;
    z-index: 999;
}