* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #242582;
}
.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.counter-position {
    display: block;
    width: 15rem;
}
.counter-position h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: aliceblue;
}
.counter-display {
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 100%;
    font-size: 9rem;
    color: lime;
}
.counter-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: .5rem;
}
.user-input-position {
    display: flex;
    justify-content: space-around;
}
.btn {
    width: 3.75rem;
    height: 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #553D67;
}
.btn:hover {
    background-color: #F64C72;
}
.increment-update {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 4rem;
    height: 1.75rem;
}
.user-input-position input {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 10rem;
}